:root {
    --body-color: rgb(49, 49, 49);
    --screen-color: rgb(96, 136, 49);
    --screen-text: black;
    --button-color: black;
    --button-text: whitesmoke;
    --borders: rgb(87, 87, 87);
    --pink-button: rgb(236, 18, 145);
    --yellow-button: rgb(247, 226, 39);
    --button-hover: ivory;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family:'Helvetica', sans-serif;
}

.calculator {
    background-color: var(--body-color);   
    width: 400px;
    padding: 20px;  
    border: 2px solid var(--borders);
    border-radius: 5px;
}

.screen {
    background-color: var(--screen-color);
    color: var(--screen-text);
    text-align: right;
    margin-bottom: 10px;
    border: 2px solid var(--borders);
    border-radius: 5px;
}

.inputs {
    font-size: 20px;
    min-height: 32px;
    padding-top: 2px;
    padding-right: 2px;
}

.results {
    font-size: 40px;
    min-height: 64px;
}

.button_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.wide {
    grid-column: span 2;
}

.btn {
    padding: 20px;
    border: 2px solid var(--borders);
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--button-text);
    font-size: 20px;
}

.btn:hover {
    border-color: var(--button-hover); 
}

.btn-pink {
    background-color: var(--pink-button);
    color: var(--screen-text);
}

.btn-yellow {
    background-color: var(--yellow-button);
    color: var(--screen-text);
}